In [79]:
import random, numpy as np, pandas as pd

In [80]:
np.random.seed(42)

In [81]:
N = 100000
stdev = 0.1
x1 = [np.random.normal(0,stdev) for i in range(0,N)]
x2 = [np.random.normal(0,stdev) for i in range(0,N)]
x3 = [np.random.normal(0,stdev) for i in range(0,N)]
y = []
fading_factor = 0.7
b1 = 2
b2 = 3
b3 = 5

for i in range(0,100000):
    b3 = 5
    if i < 10:
        last_10_x3 = x3[:i]
    else:
        last_10_x3 = x3[i-10:i]
    last_10_x3.reverse()
    yval = x1[i] * b1 + x2[i] * b2 + x3[i] * b3
    for j in range(0, len(last_10_x3)):
        b3 *= fading_factor
        yval += last_10_x3[j] * b3
    y.append(np.random.normal(yval,stdev))

In [82]:
df = pd.DataFrame(data={'x1':x1, 'x2':x2, 'x3':x3, 'y':y})

In [83]:
df

             x1        x2        x3         y
0      0.049671  0.103059  0.156184  1.049459
1     -0.013826 -0.115535 -0.009423  0.180053
2      0.064769  0.057544 -0.132954 -0.025004
3      0.152303 -0.061924 -0.138864 -0.824379
4     -0.023415 -0.032740 -0.034265 -0.880041
...         ...       ...       ...       ...
99995 -0.022522 -0.126455 -0.043231 -0.449464
99996 -0.056978  0.056565 -0.068747 -0.497109
99997  0.040919  0.016002 -0.067964 -0.355138
99998 -0.021109  0.085567 -0.107209 -0.659804
99999  0.012006 -0.106495 -0.035785 -1.123809

[100000 rows x 4 columns]

In [84]:
df['x1'] *2 +  df['x2'] *3 +df['x3'] *5

0        1.189442
1       -0.421373
2       -0.362599
3       -0.575485
4       -0.316377
           ...
99995   -0.640567
99996   -0.287992
99997   -0.209976
99998   -0.321562
99999   -0.474395
Length: 100000, dtype: float64

In [85]:
df.to_csv('poc_dataset.csv', index=False, sep = ';')